.topSection{
    height: 100vh;
    position: absolute;
    margin-top: -100vh;
    z-index: 0;
}
.topSection img{
    height: 50%;
    animation: rotation 5s infinite alternate ;
    z-index: -20;
}
.topSectionM{
  width: 100vw;
  height: 200px;
  position: absolute;
  text-align: center;
  margin-top: -100vh;
  z-index: 0;
  overflow: hidden;
}
.topSectionM img{
  height: 50px;
  animation: rotation 5s infinite alternate ;
  z-index: -20;
}
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(-45deg);
    }
  }

  .typewriter h1 {
    color: #000;
    font-size: 1.5em;
    font-weight: 500;
    width: 0;
    max-width: max-content;
    overflow: hidden; 
    border-right: .05em solid #464545; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0; /* Gives that scrolling effect as the typing happens */
  }
  
  .typing-erase {
    animation: 
      4s typing-erase 1s infinite,
      blink-caret 5s step-end infinite;
      /*  */
  }
  
  /* The type and erase effect */
  @keyframes typing-erase {
    0% { width: 0 }
    80% { width: 100% }
    90%, 100% { width: 0 }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    100% { border-color: gray }
  }

  .typewriterM h1 {
    color: #000;
    height: 150px;
    font-size: 1.5em;
    font-weight: 500;
    width: 0;
    max-width: max-content;
    overflow: hidden; 
    border-right: .05em solid #464545; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin-top: 20px; /* Gives that scrolling effect as the typing happens */
  }
  
  .typing-eraseM {
    animation: 
      4s typing-erase 5s infinite,
      blink-caret 5s step-end infinite;
      margin-top: 20px;
  }